.task {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h3 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
