@font-face {
  font-family: "Raleway";
  src: url("./assets//fonts/Raleway-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: rgb(167, 181, 215);
  background: radial-gradient(
    circle,
    rgba(167, 181, 215, 1) 0%,
    rgba(199, 228, 221, 1) 100%
  );
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

button {
  font-family: inherit;
}
